{% load i18n %}

<div class="block">

	<div class="navbar navbar-inner block-header">
		<div class="muted pull-left">{% trans "Members (servers)" %}</div>
	</div>
	<div class="block-content collapse in">

		<table class="table table-condensed table-hover">
			{% for u in object.servers.all %}
				<tr><td><a href="{% url 'servers.views.servers_show' u.pk %}">*@{{u}}</a></td></tr>
			{% endfor %}
			{% for u in object.servers_keys.all %}
				<tr><td><a href="{% url 'servers.views.servers_show' u.server.pk %}">{{u}}</a></td></tr>
			{% endfor %}
		</table>

	</div>
</div>