{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block title %}Proxmoxs{% endblock %}

{% block content %}

	<h3>{% trans "VMs management" %}</h3>

	<script type="text/javascript">$(function() { $('#menu-proxmoxs').addClass('active'); });</script>

	 <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">{% trans "Update VM details" %}</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">

					<form action="" method="POST" class="form-horizontal">
					{% csrf_token %}

					{{form|as_bootstrap }}

					<div class="row-fluid box-section" style="text-align: right;">
		                <a href="{% url 'proxmoxs.views.vms_list' %}" class="btn">{% trans "Back to the list" %}</a>
		                <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
		            </div>

					</form>


				</div>
			</div>
		</div>
	</div>

{% endblock %}

