{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login</title>
    <!-- Bootstrap -->
    <link href="{{MEDIA_URL}}theme/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{MEDIA_URL}}theme/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="{{MEDIA_URL}}theme/assets/styles.css" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{MEDIA_URL}}theme/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body id="login">
    <div class="container">

      <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        
        {% if form.errors %}
          <div class="alert alert-error">
            <p>{% trans "Your username and password didn't match. Please try again." %}</p>
          </div>
        {% endif %}


        <h2 class="form-signin-heading">{% trans "Please login" %}</h2>
        <input type="text" name="username" class="input-block-level" placeholder="{% trans "Username" %}">
        <input type="password" name="password" class="input-block-level" placeholder="{% trans "Password" %}">
        <button class="btn btn-large btn-primary" type="submit">{% trans "Login" %}</button>
        <input type="hidden" name="next" value="{{ next }}" />

      </form>

    </div> <!-- /container -->
    <script src="{{MEDIA_URL}}theme/vendors/jquery-1.9.1.min.js"></script>
    <script src="{{MEDIA_URL}}theme/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>