{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}


{% block title %}User{% endblock %}

{% block content %}

	<h3>{% trans "Change my password" %}</h3>

	<script type="text/javascript">$(function() { $('#menu-users').addClass('active'); });</script>


	 <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">{% trans "Change my password" %}</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">

					<form action="" method="POST" class="form-horizontal">
					{% csrf_token %}

					{{form|as_bootstrap }}
					<div class="row-fluid box-section" style="text-align: right;">
						<a href="{% url 'main.views.me' %}" class="btn">{% trans "Cancel" %}</a>
		                <input type="submit" class="btn btn-primary" value="{% trans "Change password" %}">
		            </div>

					</form>


				</div>
			</div>
		</div>
	</div>

{% endblock %}