{% load i18n %}

<div class="block">

	<div class="navbar navbar-inner block-header">
		<div class="muted pull-left">{% trans "Groups membership" %}</div>
	</div>
	<div class="block-content collapse in">

		<table class="table table-condensed table-hover">
			{% for group in object.group_set.all %}
				<tr>
					<td>
						{% if user.is_staff %}<a href="{% url 'groups.views.groups_show' group.pk %}">{% endif %}
                            {{group}}
                        {% if user.is_staff %}</a>{% endif %}
					</td>

					<td>
						<i>{% trans 'All keys' %}</i>
					</td>

					<td>
						{% if user.is_staff %}
							<a href="{% url 'servers.views.servers_groups_delete' object.pk group.pk %}" class="btn btn-warning btn-mini" onclick="return confirm('{% trans "Are you sure ?" %}');"><i class="icon-remove icon-white"></i> {% trans "Delete" %}</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}

			{% for key in object.sshkey_set.all %}
				{% for group in key.group_set.all %}
					<tr>
						<td>
							{% if user.is_staff %}<a href="{% url 'groups.views.groups_show' group.pk %}">{% endif %}
                                {{group}}
                            {% if user.is_staff %}</a>{% endif %}
						</td>

						<td>
							{{key}}
						</td>

						<td>
							{% if user.is_staff %}
								<a href="{% url 'servers.views.servers_groups_key_delete' object.pk group.pk key.pk %}" class="btn btn-warning btn-mini" onclick="return confirm('{% trans "Are you sure ?" %}');"><i class="icon-remove icon-white"></i> {% trans "Delete" %}</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</table>

		{% if user.is_staff %}
			<span style="float: right;">
				<select id="group_select" style="margin-right: 10px; width: 220px;">
					<option></option>
					{% for g in groups %}
						<option value="{{g.pk}}">{{g}}</option>
					{% endfor %}
				</select>

				<select id="key_select" style="margin-right: 10px; width: 220px;">
					<option></option>
					<option value="0">{% trans 'All keys' %}</option>
					{% for key in object.sshkey_set.all %}
						<option value="{{key.pk}}">{{key}}</option>
					{% endfor %}
				</select>

				<a href="{% url 'servers.views.servers_groups_add' object.pk %}" onclick="if ($('#group_select').val() == '') { alert('{% trans 'Please select a group !' %}'); return false; } else if ($('#key_select').val() == '') { alert('{% trans 'Please select a key !' %}'); return false; } else { $(this).attr('href', $(this).attr('href') + '?groupPk=' + $('#group_select').val()  + '&keyPk=' + $('#key_select').val()); return true; } " class="btn btn-success" style="float: right;"><i class="icon-plus icon-white"></i> {% trans "Add" %}</a>
			</span>
		{% endif %}
		

	</div>
</div>

<script type="text/javascript">

	$("#key_select").select2({placeholder: "{% trans 'Select a key' %}"});
	$("#group_select").select2({placeholder: "{% trans 'Select a group to add' %}"});

</script>
