{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}


{% block title %}Server{% endblock %}

{% block content %}

	<h3>{% trans "Servers management" %}</h3>

	<script type="text/javascript">$(function() { $('#menu-servers').addClass('active'); });</script>


	<div class="row-fluid">
		<!-- block -->
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">{% trans "Edition of a server" %}</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">

					<form action="" method="POST" class="form-horizontal">
						{% csrf_token %}

						{{form|as_bootstrap }}

						<div class="control-group">
							<label class="control-label" for="users">Users</label>
							<div class="controls">
								<input name="users" id="users" value="{{users}}" style=" width: 206px;">
							</div>
						</div>

						<div class="row-fluid box-section" style="text-align: right;">
							<a href="{% url 'servers.views.servers_list' %}" class="btn">{% trans "Back to the list" %}</a>
							<input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		function switch_vm_display() {

			if ($('#id_is_vm').is(':checked')) {
				$('#id_internal_ip').parent().parent().show();
				$('#id_vm_host').parent().parent().show();
				$('#id_ngnix_server').parent().parent().hide();
				$('#id_ngnix_server').val('');
				$('#id_mysql_server').parent().parent().hide();
				$('#id_mysql_server').val('');
			} else {
				$('#id_internal_ip').parent().parent().hide();
				$('#id_vm_host').parent().parent().hide();
				$('#id_ngnix_server').parent().parent().show();
				$('#id_mysql_server').parent().parent().show();
				$('#id_internal_ip').val('');
				$('#id_vm_host').val('');
			}

		}

		function switch_proxmox_display() {

			if ($('#id_is_proxmox').is(':checked')) {
				$('#id_proxmox_node_name').parent().parent().show();
			} else {
				$('#id_proxmox_node_name').parent().parent().hide();
				$('#id_proxmox_node_name').val('');
			}

		}

		$('#id_is_vm').change(function() { switch_vm_display(); });
		switch_vm_display();

		$('#id_is_proxmox').change(function() { switch_proxmox_display(); });
		switch_proxmox_display();

		$("#users").select2({tags:[{% for u in all_users %}"{{u}}",{% endfor %}],tokenSeparators: [",", " "]});

		$('#id_vm_host,#id_ngnix_server,#id_mysql_server,#id_users_owning_the_server').css('width', '220px').select2();

	</script>

{% endblock %}
